<div class="formField">
    <form id="{{formId}}" action="{{postUrl}}?form={{formId}}" method="post" accept-charset="utf-8" autocomplete="off">
        <table class="form-table" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <input name="referrer" type="hidden" value="{{partials.ref}}">
                    <td width="330" height="40" valign="bottom">账号/Account</td>
                </tr>
                <tr>
                    <td height="40">
                        <input name="username" class="form-td-input" id="username" type="text" placeholder="输入用户名/邮箱">
                    </td>
                </tr>
                <tr>
                    <td width="330" height="20" valign="bottom"><span class="erroText erroUsername"></span></td>
                </tr>
                <tr>
                    <td width="330" height="20" valign="bottom">密码/Password</td>
                </tr>
                <tr>
                    <td height="40">
                        <input name="password" class="form-td-input" id="password" type="password" placeholder="输入您的密码">
                    </td>
                </tr>
                <tr>
                    <td width="330" height="20" valign="bottom"><span class="erroText erroPassword"></span></td>
                </tr>
                {{#if loginPage}}
                <tr>
                    <td width="330" height="80" align="left">
                        <input class="loginBtn btn" type="submit" value="登录">
                        <a href="/Reg" class="regBtn">
                            <input class="btn" type="button" value="注册">
                        </a>
                    </td>
                </tr>
                {{/if}}
                {{#if regPage}}
                <tr>
                    <td width="330" height="20" valign="bottom">密码确认/Again Password</td>
                </tr>
                <tr>
                    <td height="40">
                        <input name="passconfirm" class="form-td-input" id="passconfirm" type="password" placeholder="确认您的密码">
                    </td>
                </tr>
                <tr>
                    <td width="330" height="20" valign="bottom"><span class="erroText erroPassConfirm"></span></td>
                </tr>
                <tr>
                    <td width="330" height="80" align="left">
                        <input class="regBtn btn" type="submit" value="注册">
                        <span class="toLogin"><a href="/">返回登录</a></span>
                    </td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </form>
</div>
{{#section 'script_form'}}
<script>
$(document).ready(function() {
    var $formField = $('.formField');
    var $erroText = $('.erroText');
    var $erroUsername = $('.erroUsername');
    var $erroPassword = $('.erroPassword');
    var $erroPassConfirm = $('.erroPassConfirm');
    var $passconfirm = $('#passconfirm');
    var $username = $('#username');
    var $password = $('#password');

    $formField.children('form').on('submit', function(evt) {
        evt.preventDefault();
        if (!$username.val()){
            $erroUsername.text('用户名不能为空！');
            return ;
        }
        if (!$password.val()){
            $erroPassword.text('密码不能为空！');
            return ;
        }
        if ($passconfirm.length&&$password.val()!==$passconfirm.val()) {
            $erroPassConfirm.text('请确认密码一致！');
            return ;
        }
        var action = $(this).attr('action');
        $.ajax({
            url: action,
            type: 'post',
            data: $(this).serialize(),
            dataType: "json",
            success: function(data) {
                if (data.success) {
                    window.location.href=data.url;
                }
                else if (!data.username){
                    var userWarn=action.indexOf('login')>0?'用户名不存在！':'用户名已存在！';
                    data.username===false?$erroUsername.text(userWarn):$erroUsername.text('用户名不能为空！');
                }
                else if (!data.password) {
                    data.password===false?$erroPassword.text('密码错误！'):$erroPassword.text('密码不能为空！');
                }
            },
            error:function () {
                return ;
            }
        });
    });

    $('.form-td-input').each(function () {
        $(this).on('focus',function () {
            $(this).closest('tr').next().find(".erroText").empty();
        })
    })
});
</script>
{{/section}}