<div class="fixPic" style="background-image:url(/img/header.jpg);">
	<div class="intro">
		<div class="intro-ct" style="background-color: rgba(0, 148, 255, 0.5);color: #fff">
			<h1>关于我们</h1>
			<p>这里是一个小众音乐交流网站</p>
			<p>我们努力打造一流的特色音乐信息交流平台</p>
			<p><del>肥宅聚集地</del>(*・ω・)ノ</p>
		</div>
		<div class="intro-ct" style="background-color: rgba(255, 178, 210, 0.5);color: #000">
			<h1>联系方式</h1>
			<ul>
    			<li>站内信：<a href="/contact">www.wyyx.me</a></li>
    			<li>邮箱：<a href=mailto:sample@163.com>sample@163.com</a></li>
    			<li>电话：8888888</li>
    		</ul>
		</div>
	</div>
</div>